# Virtual environment
venv/
env/
.env

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# MLflow (akan kita tambahkan nanti, tapi siapkan sekarang)
mlruns/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/